:root {
  --zoomLevel: 1;
}

#canvas {
  position: absolute;
  top: 130px;
  left: 250px;

  border: 1px solid white;
  width: max-content;

  user-select: none;
  cursor: default;
}

#canvas table:not(:first-child) {
  position: absolute;
  top: 0px;
}

.layer,
#preview-layer {
  border-spacing: 0;
  position: relative;
}

#preview-layer {
  z-index: 1;
}

#preview-layer[invalid] {
  cursor: not-allowed !important;
}

#preview-layer[tool='pencil'] {
  cursor: url('../assets/pencil.cur'), default;
}

#preview-layer[tool='eraser'] {
  cursor: url('../assets/eraser.cur'), default;
}

#preview-layer[tool='eraser'] td[hover] {
  color: black;
  background-color: black;
  box-shadow: 0 0 0 1px white;
}

#preview-layer[tool='zoom'] {
  cursor: zoom-in;
}

#preview-layer[tool='move'] {
  cursor: grab;
}

#preview-layer[tool='moving'] {
  cursor: grabbing;
}

.pixel {
  font-family: Terminal;
  font-size: calc(12px * var(--zoomLevel)) !important;
  height: calc(12px * var(--zoomLevel));
  width: calc(8px * var(--zoomLevel));
  padding: 0px;
}
