@import 'panel/left.css';
@import 'panel/top.css';
@import 'panel/right.css';
@import 'canvas.css';

@font-face {
  font-family: Terminal;
  src: url(../assets/TerminalVector.ttf);
}

body {
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  color: white;
  overflow: hidden;
}
