@import 'panel-left/_panel-left.css';
@import 'panel-top/_panel-top.css';
@import 'panel-right/_panel-right.css';
@import 'canvas.css';

@font-face {
  font-family: Terminal;
  src: url(../assets/TerminalVector.ttf);
}

body {
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  color: white;
  overflow: hidden;
}
