@import 'panel-left/_index.css';
@import 'panel-top/_index.css';
@import 'panel-right/_index.css';
@import 'canvas.css';

@font-face {
  font-family: Terminal;
  src: url(../assets/TerminalVector.ttf);
}

body {
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  color: white;
  overflow: hidden;
}
