#preview-layer[tool='move'] {
  cursor: grab;
}

#preview-layer[tool='moving'] {
  cursor: grabbing;
}

#tool-move {
  background: url('../../assets/move-btn.svg') no-repeat center center / 32px;
}

#tool-picker:not([tool='move']):not([tool='moving']) #tool-move:hover {
  background: url('../../assets/move-btn2.svg') no-repeat center center / 32px;
  filter: invert(0.6);
}

#tool-picker[tool='move'] #tool-move,
#tool-picker[tool='moving'] #tool-move {
  background: url('../../assets/move-btn2.svg') no-repeat center center / 32px;
}
