#preview-layer[tool='select'] {
  cursor: crosshair;
}

#preview-layer[tool='select'] td[selected] {
  cursor: grab !important;
}

#tool-select {
  background: url('../../assets/select-btn.svg') no-repeat center center / 34px;
}

#tool-picker:not([tool='select']) #tool-select:hover {
  background: url('../../assets/select-btn2.svg') no-repeat center center / 34px;
  filter: invert(0.6);
}

#tool-picker[tool='select'] #tool-select {
  background: url('../../assets/select-btn2.svg') no-repeat center center / 34px;
}
