@import 'charPreview.css';
@import 'colorPicker.css';
@import 'toolPicker/_toolPicker.css';

#panel-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;

  background-color: black;
  border-bottom: 1px solid white;
  user-select: none;
  z-index: 10;
}
