#panel-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;

  background-color: black;
  border-bottom: 1px solid white;
  user-select: none;
  z-index: 10;
}

#char-preview {
  font-family: 'Terminal';
  font-size: 60px !important;
  position: absolute;

  top: 10px;
  left: calc((160px + 60px) / 4);
  width: 40px;
  height: 60px;

  padding: 0;
  border: 1px solid white;
}

/*
  Color Picker

*/
#color-picker {
  position: absolute;
  top: 10px;
  left: 130px;
}

#color-picker table {
  border-spacing: 0;
}

/* Bordes */
#color-picker td {
  width: 29px;
  height: 29px;

  padding: 0px;
  border-top: 1px solid white;
  border-right: 1px solid white;
}

#color-picker tr td:first-child {
  border-left: 1px solid white;
}

#color-picker tr:last-child td {
  border-bottom: 1px solid white;
}

/* Recuadro Transparencia */
#color-picker tr:last-child td:last-child {
  position: absolute;
  top: 0px;
  height: 59px;

  background-image: url('../../assets/transparency.png');
}

/*
  Tool Picker

*/
#tool-picker {
  position: absolute;
  top: 10px;
  left: 436px;
  width: fit-content;
}

#tool-picker button {
  width: 30px;
  height: 30px;

  filter: invert(1);
  border: 0;
  cursor: pointer;

  transition: background-image 250ms, filter 250ms;
}

#tool-picker-top,
#tool-picker-bottom {
  height: 30px;
}

/* 
  ▼▼▼

*/
/* Lapiz */
#tool-pencil {
  background: url('../../assets/pencil-btn.svg') no-repeat center center / contain;
}

#tool-picker:not([tool='pencil']) #tool-pencil:hover {
  background: url('../../assets/pencil-btn2.svg') no-repeat center center / contain;
  filter: invert(0.6);
}

#tool-picker[tool='pencil'] #tool-pencil {
  background: url('../../assets/pencil-btn2.svg') no-repeat center center / contain;
}

/* Borrador */
#tool-eraser {
  background: url('../../assets/eraser-btn.svg') no-repeat center center / contain;
}

#tool-picker:not([tool='eraser']) #tool-eraser:hover {
  background: url('../../assets/eraser-btn2.svg') no-repeat center center / contain;
  filter: invert(0.6);
}

#tool-picker[tool='eraser'] #tool-eraser {
  background: url('../../assets/eraser-btn2.svg') no-repeat center center / contain;
}

/* Zoom */
#tool-zoom {
  transform: scaleX(-1);
  background: url('../../assets/zoom-btn.svg') no-repeat center center / 34px;
}

#tool-picker:not([tool='zoom']) #tool-zoom:hover {
  background: url('../../assets/zoom-btn2.svg') no-repeat center center / 34px;
  filter: invert(0.6);
}

#tool-picker[tool='zoom'] #tool-zoom {
  background: url('../../assets/zoom-btn2.svg') no-repeat center center / 34px;
}

/* Mover */
#tool-move {
  background: url('../../assets/move-btn.svg') no-repeat center -10px/ 42px;
}

#tool-picker:not([tool='move']):not([tool='moving']) #tool-move:hover {
  background: url('../../assets/move-btn2.svg') no-repeat center -10px/ 42px;
  filter: invert(0.6);
}

#tool-picker[tool='move'] #tool-move,
#tool-picker[tool='moving'] #tool-move {
  background: url('../../assets/move-btn2.svg') no-repeat center -10px/ 42px;
}

/* temp */
#panel-top #set-canvas-size {
  position: absolute;
  top: 50%;
  left: 65%;
}

#panel-top #set-canvas-size input {
  width: 50px;
}

#panel-top #set-canvas-size button {
  left: 0;
}

#panel-top #add-layer {
  position: relative;
  left: 80%;
  top: 50%;
}
